@use 'var';
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var.$text-color;
  font-size: 18px;
  

}

*, *::after, *::before { 
  box-sizing: border-box 
}

html {
  background-color: var.$background-color;

} 

.mobile-only {
  display: none;
  @media screen and (max-width: 998px) {
    display: contents;    
  }
}
.non-mobile {
  display: contents;
  @media screen and (max-width: 998px) {
    display: none;    
  }
}


