@use 'var';
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var.$text-color;
  font-size: 18px;
  

}

*, *::after, *::before { 
  box-sizing: border-box 
}

html {
  background-color: var.$background-color;

} 


