@use "var";
h1 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 2.8em;
}
a {
  color: black;
  transition: color 0.1s;

  &:hover {
    color: var.$gray-color;
  }

  @media print {
    text-decoration: none;
  }
}
h2 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 1.8em;
}
h3 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.2em;
  font-size: 1.4em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}
